 .animation{
  animation: slide 40s linear infinite;

 }
 
 
 @keyframes slide {
    0%{
      transform: translateX(0%);
    }
  
    96%{
      transform: translateX(-100%);
      
    }

    97%{
      transform: translateX(-100%);
      
    }
    98%{
      transform: translateX(-100%);
      
    }
    99%{
      transform: translateX(-100%);
      
    }
    100%{
      transform: translateX(-100%);
      
    }
    
  }