*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

html{
  font-size: 62.5%;
  background-color: black;
  
}

::-webkit-scrollbar{
  width:1rem;
}

::-webkit-scrollbar-track{
  background-color: black;
}

::-webkit-scrollbar-thumb{
  
  border-radius: 1rem;
  border: 2rem solid rgb(198, 52, 52);
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover{
  border-color: white;
  
}


a{
  text-decoration: none;
  
}

.Link{
  text-decoration: none;
  color:#818181;
 
  &:hover{
    transform:scale(1.2);
    color: White;
  }
}




.activeLink{
  transform:scale(1.2);
  color: White;
  text-decoration: overline 2px solid rgb(198, 52, 52);
}

.SideLink{
  padding: .8rem .8rem .8rem 3.2rem;
  text-decoration: none;
  font-size: 2.5rem;
  color: #818181;
  display: block;
  transition: 0.3s;
  display: flex;
  align-items: center;
  gap: 2rem;
  &:hover{
    transition: 0.1s;
    color: #f1f1f1;
  }
}

.activeSideLink{
  padding: .8rem .8rem .8rem 3.2rem;
  text-decoration: none;
  font-size: 2.5rem;
  color: #f1f1f1;
  display: block;
  transition: 0.3s;
  display: flex;
  align-items: center;
  gap: 2rem;
  background-color: rgb(198, 52, 52);
}

.movieDescription{
  padding-left:5rem;
  display:flex;
  gap:5rem;
}

@media (max-width: 850px){
  .Link{
    
   display: none;
  }
  .activeLink{
    display:none;
  }
}

@media (max-width:480px){
  html{
    font-size: 50.5%;
    
    
  }
  .movieDescription{
    flex-direction: column-reverse;
  }

  .desc{
    width:100% !important;
  }
  
}
/* body{
  background-color: #191C52;
  text-align: center;
}

h1{
  color: White;
  font-size: 3.8rem;
  font-weight: 700;

  margin-top: 7rem;
}

p{
  font-size: 2.2rem;
  font-weight: 700;
  color:white;
  padding: 2rem;
}

.App{
    width: 100%;
    height: 100vh;
    
}

.Profiles{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  position: absolute;
  top: 50%;
 
  transform: translateY(-50%);
} */